@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@layer base {
  :root {
    --background: 150 10% 94%;
    --foreground: 163 15% 22%;
    --card: 0 0% 100%;
    --card-foreground: 163 15% 22%;
    --popover: 0 0% 100%;
    --popover-foreground: 163 15% 22%;
    --primary: 168 16% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 168 16% 64%;
    --secondary-foreground: 163 15% 22%;
    --muted: 150 10% 90%;
    --muted-foreground: 160 10% 45%;
    --accent: 44 82% 79%;
    --accent-foreground: 163 15% 22%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 150 10% 87%;
    --input: 150 10% 87%;
    --ring: 168 16% 42%;
    --radius: 0.875rem;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {

    font-family: 'DM Sans', sans-serif;
  }
}
